<div class="row my-5">
  <div class="offset-md-3 col-md-6 my-5">
    <form class="my-0" *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <h1 class="text-primary text-center my-3">Sign up</h1>
      <div class="my-3">{{registerForm.value | json}}</div>
      <div class="mb-3">
        <label for="fullname" class="form-label">Full name:</label>
        <input type="text" class="form-control" id="fullname" name="fullName" placeholder="Type your full name here"
          formControlName="fullName"
          [ngClass]="{ 'is-invalid': submitted && registerForm.get('fullName')?.hasError('required'), 'is-valid': submitted && !registerForm.get('fullName')?.hasError('required')}">
        <div *ngIf="submitted && registerForm.get('fullName')?.hasError('required')" class="d-block invalid-feedback">
          Full name is required.
        </div>
        <div *ngIf="submitted && registerForm.get('fullName')?.hasError('fullNameError')" class="d-block invalid-feedback">
          Full name must be contains {{registerForm.get('fullName')?.errors?.['requiredValue']}} words.
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Type your e-mail address here"
          autocomplete="email" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && registerForm.get('email')?.hasError('required'), 'is-valid': submitted && !registerForm.get('email')?.hasError('required') }">
        <div class="d-block invalid-feedback">
          <div *ngIf="submitted && registerForm.get('email')?.hasError('required')">E-mail is required.</div>
          <div *ngIf="submitted && registerForm.get('email')?.hasError('email')">E-mail must be a valid email address.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Type your password here"
          autocomplete="new-password" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && registerForm.get('password')?.invalid, 'is-valid': submitted && !registerForm.get('password')?.hasError('required') }">
        <div class="d-block invalid-feedback">
          <div *ngIf="submitted && registerForm.get('password')?.hasError('required')">Password is required.</div>
          <div *ngIf="submitted && registerForm.get('password')?.hasError('password')">Password must be at least 5
            characters and must be less than 10 characters and must contain digit and special characters.</div>
        </div>

      </div>
      <div class="mb-3">
        <label for="passwordConfirmation" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="passwordConfirmation" name="confirmPassword"
          autocomplete="new-password" placeholder="Confirm your password here" formControlName="confirmPassword"
          [ngClass]="{ 'is-invalid': submitted && registerForm.get('confirmPassword')?.invalid, 'is-valid': submitted && !registerForm.get('confirmPassword')?.hasError('required') }">
        <div class="d-block invalid-feedback">
          <div *ngIf="submitted && registerForm.get('confirmPassword')?.hasError('required')">Password confirmation is
            required.</div>
          <div *ngIf="submitted && registerForm.get('confirmPassword')?.hasError('password')">Password must be at least 5
            characters and must be less than 10 characters and must contain digit and special characters.</div>
          <div *ngIf="submitted && registerForm.get('confirmPassword')?.hasError('compare')">Password confirmation does
            not match.</div>
        </div>
        {{registerForm.get('confirmPassword')?.errors |json}}
      </div>
      <div class="mb-3 form-check">
        <label class="form-check-label" for="check">
          I have read and agree to the <a routerLink="/term-and-condition">term and conditions</a>.
        </label>
        <input type="checkbox" class="form-check-input" name="chack" id="check" formControlName="termAccepted"
          [ngClass]="{ 'is-invalid': submitted && registerForm.get('termAccepted')?.invalid, 'is-valid': submitted && !registerForm.get('termAccepted')?.hasError('required') }">
        <div class="d-block invalid-feedback">
          <div *ngIf="submitted && registerForm.get('termAccepted')?.hasError('required')">Please accept the terms &
            conditions.</div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <!-- <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Sign up</button> -->
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </form>
  </div>
</div>
